<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SomosNeuma.styles.css" asp-append-version="true" />
    
    <!--Menu Styles-->
    <link rel="stylesheet" href="~/css/menu.css"/>

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Bebas Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!--Animate css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    

</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark me-auto">
                <div class="container-fluid">
                    <a class="navbar-brand text-white me-auto" href="#">
                        <img class="" src="~/images/NeumaLogo.png" width="30px" /> Neuma
                    </a>

                    <!--Elements menu-->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title text-white me-auto" id="offcanvasNavbarLabel">
                                <a class="navbar-brand text-white me-auto" href="#">
                                    <img class="" src="~/images/NeumaLogo.png" width="30px" /> Somos Neuma
                                </a>
                            </h5>
                            <button type="button" class="btn-close text-white p-0" style="font-size: 1.25rem;" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-square"></i></button>
                        </div>

                        <div class="offcanvas-body text-center text-lg-start">
                            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link border-link active mx-lg-2" aria-current="page">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mx-lg-2 special-button" href="#">CNXN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link border-link mx-lg-2" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link border-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Areas
                                    </a>
                                    <ul class="dropdown-menu text-center text-lg-start">
                                        <li><a class="dropdown-item" href="#">IMX</a></li>
                                        <li><a class="dropdown-item" href="#">Insights</a></li>
                                        <li><a class="dropdown-item" href="#">Grupos</a></li>
                                        <li><a class="dropdown-item" href="#">Generosidad</a></li>
                                        <li><a class="dropdown-item" href="#">Par</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link mx-lg-2 border-link" href="#">Contacto</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link border-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Managment
                                    </a>
                                    <ul class="dropdown-menu text-center text-lg-start">
                                        <li><a class="dropdown-item" href="#">Front Page</a></li>
                                        <li><a class="dropdown-item" href="#">Insights</a></li>
                                        <li><a class="dropdown-item" href="#">Grupos</a></li>
                                        <li><a class="dropdown-item" href="#">Generosidad</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">Registrar Usuario</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                        
                    </div>

                    <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span>
                            <i class="bi bi-list text-white icon-burger"></i>
                        </span>
                    </button>
                </div>

            </nav>
        </div>
        
    </header>
    <div class="container-fluid animate__animated animate__fadeIn animate__slow">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SomosNeuma - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
